<div class="row">
    <div class="col my-2">
        <app-campaign-add (onAddCampaign)="addCampaign($event)" (onEditCampaign)="editCampaign($event)"></app-campaign-add>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="input-group mb-3">
            <input (keyup)="filterCampaigns()" [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search text" aria-label="Search text" aria-describedby="btn_clear">
            <button (click)="resetSearchText()" class="btn btn-outline-secondary" type="button" id="btn_clear"><i class="bi bi-repeat"></i></button>
        </div>

        <table class="table table-striped" width="100%">
            <thead>
                <tr app-sortable-header [columns]="columnDefinition" [(state)]="sortState" (stateChange)="onSortStateChange()"></tr>
            </thead>
            <tbody>
                <ng-template ngFor let-campaign [ngForOf]="filteredCampaigns" let-i="index">
                    <tr scope="row" app-campaign-list-item [serialNo]=i+1 [campaign]=campaign (onDeleteCampaign)="deleteCampaign($event)" (onEditCampaign)="editCampaignForm($event)"></tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>