    <td>{{serialNo}}</td>
    <td>{{campaign.id}}</td>
    <td>{{campaign.name}}</td>
    <td>{{campaign.startDate | date: 'dd-MM-YYYY'}}</td>
    <td>{{campaign.endDate | date: 'dd-MM-YYYY'}}</td>
    <td>
        <button (click)="deleteCampaign(campaign)" type="button" class="me-2 btn btn-outline-dark" title="Delete Campaign"><i class="bi bi-trash3-fill"></i></button>
        <button (click)="editCampaign(campaign)" type="button" class="me-2 btn btn-outline-dark" title="Edit Campaign"><i class="bi bi-pencil-fill"></i></button>
    </td>